.banner-image img {
    width: 90%;
}
.banner-image {
margin: 10px;
position: relative;
text-align: center;
}
.gallery-image img {
    border-radius:50%;
    width:200px;
    height:200px;
}

header {
width: 100%;
height: calc(100vh - 500px);
background-repeat: no-repeat;
background-position: center;
background-size: cover;
display: table;

}
header h1 {

font-family: "Open Sans", serif;
font-weight: 600;
font-style: italic;
font-size: 50px;
color: #000000;
line-height: 50px;
text-transform: uppercase;
text-shadow: 2px 2px 8px #000000;

}

header h2 {

font-family: "Open Sans", sans-serif;
font-weight: 300;
font-size: 15px;
letter-spacing: 5px;
color: #000000;
text-transform: uppercase;

}
header .logo {

display: table-cell;
vertical-align: middle;
text-align: center;
padding: 10px 0 20px 0;

}
header nav ul {

display: block;
margin: 0 auto;
text-align: center; /*IE*/
width: fit-content;


}

header nav ul li {

display: inline-block;
padding: 16px 200px;

}
nav ul li a {

font-family: "Open Sans", sans-serif;
font-weight: 300;
font-size: 18px;
letter-spacing: 3px;
color: #172029;
text-transform: uppercase;
text-decoration: none;

}

.meist{
width:90%;
display:flex;
text-align:left;
margin-left:auto;
margin-right:auto;
justify-content:space-evenly
}

.meie{
width:90%;
text-align:left;
margin-left:auto;
margin-right:auto;
}

.meist p{
width:90%;

}
.meist a{
width:90%;
margin-left:auto;
margin-right:auto;
text-align:right;
}

footer {
display: flex;
justify-content: space-between;
width: 90%;
padding: 10px 10px;
background-image: url("img/footer.jpg");
margin-left: auto;
margin-right: auto;
}


footer ul {
font-family: "Open Sans", sans-serif;
font-weight: 400;
font-size: 12px;
color: #ffffff;
text-transform: uppercase;
text-decoration: none;
}

footer ul li {
display: block;
}

footer ul li a {
font-family: "Open Sans", sans-serif;
font-weight: 400;
font-size: 12px;
color: #ffffff;
text-transform: uppercase;
text-decoration: none;
}
.footer-sm {
width: 42px;
}

.footer-sm img {
width: 90%;
margin-bottom: 10px;
}

.gallery-image {
margin: 10px;
position: relative;
text-align: center;
}

.post-header {

/*kujundus*/

font-family: "Open Sans", sans-serif;
font-weight: 700;
font-size: 22px;
letter-spacing: 3px;
line-height: 24px;
color: #ffffff;
text-transform: uppercase;
text-shadow: 3px 3px 9px #111111;

   /*positsioneerimine*/

position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);

}

.banner2 {

display: flex;
flex-flow: row wrap;
display: -webkit-flex;
-webkit-flex-flow: row wrap;
display: -moz-flex;
-moz-flex-flow: row wrap;
justify-content: center;
-o-flex-flow: row wrap;
justify-content: center;
}

.gallery-links {

display: flex;
flex-flow: row wrap;
display: -webkit-flex;
-webkit-flex-flow: row wrap;
display: -moz-flex;
-moz-flex-flow: row wrap;
justify-content: center;
-o-flex-flow: row wrap;
justify-content: space-around;
}

-webkit-flex-basis: 300px;
-moz-flex-basis: 300px;
flex-basis: 300px;
@media only screen and (min-width: 950px) {


header h1 a {

      font-size: 80px;

}

header h2 {

      font-size: 24px;
      margin-top: 20px;

}

header nav ul li {

       padding: 16px 42px;

}

}
